In [18]:
import pandas as pd
import json
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
with open("Upload-Resume/android.json") as json_data:
    data = json.load(json_data)
df = pd.json_normalize(data)

FileNotFoundError: [Errno 2] No such file or directory: 'Upload-Resume/android.json'

In [ ]:
df

,PhoneNo,Email,Work,string,skills,languages
0,,goudarzi1212@gmail.com,"[{'company': 'Pardazesh Negar Rashin', 'positi...",Hello World,"[Android, Kotlin, Flutter, Android Development...","[English, Farsi]"

In [ ]:
print(df.Work.to_string())

0    [{'company': 'Pardazesh Negar Rashin', 'positi...

In [3]:
data_set = pd.read_excel("Upload-JD/JD_Updated.xlsx")

In [4]:
import glob
import os
LIST_OF_FILES = []
LIST_OF_FILES_JSON = []
for file in glob.glob('**/*.json', recursive=True):
    LIST_OF_FILES_JSON.append(file)
LIST_OF_FILES = LIST_OF_FILES_JSON
Jresumes = []
Ordered_list_Resume = []
for count,i in enumerate(LIST_OF_FILES):
    Temp = i.rsplit('.', 1)
    if Temp[1] == "json" :
            print(count," This is json" , i)
            try:
                with open(i) as json_data:
                    data = json.load(json_data)
                df = pd.json_normalize(data)
                print("================================")
                print(df)
                Jresumes.append(df)
                Ordered_list_Resume.append(i)
            except Exception as e: print(e)     
print("===================")
LIST_OF_FILES_JSON

0  This is json json_data.json
Expecting value: line 1 column 1 (char 0)
1  This is json Upload-JD/job.json
================================
   id                              title  \
0   2  Senior Mobile App Developer - iOS

                                         description  \
0  We believe our customers deserve a great exper...

                                    responsibilities  \
0  As a Senior Mobile App Developer-iOS at Parsit...

                                        requirements benefits employment  \
0  You have solid commercial experience in native...     None  Full-time

  environment experience  salaryMin  ...  \
0      Remote     Senior       2000  ...

                                       company.about      company.industry  \
0  Experts in web technologies, mobile technologi...  Software Development

  company.companySize company.city.id company.city.name  \
0               11-50         2761369            Vienna

  company.city.subCountry  company.city.countryCode  company.city.countryName  \
0                  Vienna                        AT                   Austria

  company.companySizeIndex  company.subscription
0                        2                  None

[1 rows x 49 columns]
2  This is json Upload-Resume/applicant.json
================================
   id  jobId  userId                   email phoneCountryCode     phoneNumber  \
0  87      1      28  Rowland_Jast@yahoo.com               43  1-601-620-6580

                                     qa                      createdAt  \
0  [{'answer': 'Yes', 'questionId': 1}]  2022-09-08T15:02:06.000+04:30

                       updatedAt  assessmentScore  ...  \
0  2022-09-08T15:02:06.000+04:30             65.5  ...

                                      user.interests  \
0  [{'id': 5, 'title': 'Cyber Security', 'imageUr...

                                      user.languages  \
0  [{'name': 'English', 'level': 1, 'levelStr': '...

                                         user.skills  \
0  [{'id': 491, 'title': 'Financial Statement Ana...

                                     user.educations  \
0  [{'id': 378, 'school': 'Texas A&M University',...

                                    user.experiences user.fullName  \
0  [{'id': 577, 'title': 'National Mobility Manag...  Aisha Erdman

  user.$extras.skills_count user.$extras.interests_count  \
0                         5                            5

  user.$extras.followers_count  user.$extras.posts_count
0                           28                        19

[1 rows x 33 columns]
===================

['json_data.json', 'Upload-JD/job.json', 'Upload-Resume/applicant.json']

In [5]:
with open("Upload-Resume/applicant.json") as json_data:
    data = json.load(json_data)
df = pd.json_normalize(data)

In [6]:
df

,id,jobId,userId,email,phoneCountryCode,phoneNumber,qa,createdAt,updatedAt,assessmentScore,...,user.interests,user.languages,user.skills,user.educations,user.experiences,user.fullName,user.$extras.skills_count,user.$extras.interests_count,user.$extras.followers_count,user.$extras.posts_count
0,87,1,28,Rowland_Jast@yahoo.com,43,1-601-620-6580,"[{'answer': 'Yes', 'questionId': 1}]",2022-09-08T15:02:06.000+04:30,2022-09-08T15:02:06.000+04:30,65.5,...,"[{'id': 5, 'title': 'Cyber Security', 'imageUr...","[{'name': 'English', 'level': 1, 'levelStr': '...","[{'id': 491, 'title': 'Financial Statement Ana...","[{'id': 378, 'school': 'Texas A&M University',...","[{'id': 577, 'title': 'National Mobility Manag...",Aisha Erdman,5,5,28,19

In [7]:
df.columns

Index(['id', 'jobId', 'userId', 'email', 'phoneCountryCode', 'phoneNumber',
       'qa', 'createdAt', 'updatedAt', 'assessmentScore', 'user.id',
       'user.email', 'user.username', 'user.firstName', 'user.lastName',
       'user.avatarUrl', 'user.headline', 'user.profileBio', 'user.website',
       'user.isVerifiedByEmail', 'user.loginVia', 'user.userType',
       'user.jobSeekingType', 'user.interests', 'user.languages',
       'user.skills', 'user.educations', 'user.experiences', 'user.fullName',
       'user.$extras.skills_count', 'user.$extras.interests_count',
       'user.$extras.followers_count', 'user.$extras.posts_count'],
      dtype='object')

In [8]:
", ".join([x['title'] for x in df.loc[0]['user.skills']])

'Financial Statement Analysis, Information Retrieval Data Sets, Grand Central Dispatch (GCD), Oracle, Active Learning'

In [21]:
data['user']['experiences']

[{'id': 577,
  'title': 'National Mobility Manager',
  'companyName': 'Anderson - Heaney',
  'location': 'Plainfield, AL',
  'startAt': '2012-04-14',
  'endAt': '2012-12-14',
  'headline': None,
  'description': 'Cumque totam tenetur. Vero neque in aspernatur alias perferendis qui corrupti. Saepe totam accusamus aliquid est impedit ipsam quos autem fugiat. Dolores omnis maxime.',
  'employmentType': 1,
  'employmentTypeStr': 'Full-time',
  'fromToStr': 'Apr 2012 - Dec 2012'}]

In [17]:
data['user']['experiences'][0]['startAt']

'2012-04-14'

In [19]:
datetime.strptime(data['user']['experiences'][0]['startAt'], "%Y-%m-%d")

datetime.datetime(2012, 4, 14, 0, 0)

In [10]:
json.dumps(df.loc[0]['user.skills'])

'[{"id": 491, "title": "Financial Statement Analysis"}, {"id": 162, "title": "Information Retrieval Data Sets"}, {"id": 103, "title": "Grand Central Dispatch (GCD)"}, {"id": 507, "title": "Oracle"}, {"id": 240, "title": "Active Learning"}]'

In [11]:
df.loc[0]['user.languages']

[{'name': 'English', 'level': 1, 'levelStr': 'Beginner'},
 {'name': 'German', 'level': 3, 'levelStr': 'Advanced'},
 {'name': 'French', 'level': 3, 'levelStr': 'Advanced'}]

In [12]:
df.loc[0]['user.experiences']

[{'id': 577,
  'title': 'National Mobility Manager',
  'companyName': 'Anderson - Heaney',
  'location': 'Plainfield, AL',
  'startAt': '2012-04-14',
  'endAt': '2012-12-14',
  'headline': None,
  'description': 'Cumque totam tenetur. Vero neque in aspernatur alias perferendis qui corrupti. Saepe totam accusamus aliquid est impedit ipsam quos autem fugiat. Dolores omnis maxime.',
  'employmentType': 1,
  'employmentTypeStr': 'Full-time',
  'fromToStr': 'Apr 2012 - Dec 2012'}]

In [13]:
df.loc[0]['user.educations']

[{'id': 378,
  'school': 'Texas A&M University',
  'degree': "Bachelor's",
  'field': 'Computer Science',
  'startYear': 2008,
  'endYear': 2012},
 {'id': 379,
  'school': 'University Of Groningen',
  'degree': 'Master',
  'field': 'Physics',
  'startYear': 2011,
  'endYear': 2014}]