In [1]:
import pandas as pd
import json
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
with open("Upload-Resume/android.json") as json_data:
    data = json.load(json_data)
df = pd.json_normalize(data)

FileNotFoundError: [Errno 2] No such file or directory: 'Upload-Resume/android.json'

In [ ]:
df

,PhoneNo,Email,Work,string,skills,languages
0,,goudarzi1212@gmail.com,"[{'company': 'Pardazesh Negar Rashin', 'positi...",Hello World,"[Android, Kotlin, Flutter, Android Development...","[English, Farsi]"

In [ ]:
print(df.Work.to_string())

0    [{'company': 'Pardazesh Negar Rashin', 'positi...

In [ ]:
data_set = pd.read_excel("Upload-JD/JD_Updated.xlsx")

In [2]:
import glob
import os
LIST_OF_FILES = []
LIST_OF_FILES_JSON = []
for file in glob.glob('**/*.json', recursive=True):
    LIST_OF_FILES_JSON.append(file)
LIST_OF_FILES = LIST_OF_FILES_JSON
Jresumes = []
Ordered_list_Resume = []
for count,i in enumerate(LIST_OF_FILES):
    Temp = i.rsplit('.', 1)
    if Temp[1] == "json" :
            print(count," This is json" , i)
            try:
                with open(i) as json_data:
                    data = json.load(json_data)
                df = pd.json_normalize(data)
                print("================================")
                print(df)
                Jresumes.append(df)
                Ordered_list_Resume.append(i)
            except Exception as e: print(e)     
print("===================")
LIST_OF_FILES_JSON

0  This is json json_data.json
================================
     jd        filename  skillRank  name         phoneNo  \
0  1.89  applicant.json        0.0   0.0  1-601-620-6580

                    email  nonTechSkills  exp  finalRank
0  Rowland_Jast@yahoo.com            0.0    0       1.89
1  This is json Upload-JD/job.json
================================
   id                              title  \
0   2  Senior Mobile App Developer - iOS

                                         description  \
0  We believe our customers deserve a great exper...

                                    responsibilities  \
0  As a Senior Mobile App Developer-iOS at Parsit...

                                        requirements benefits employment  \
0  You have solid commercial experience in native...     None  Full-time

  environment experience  salaryMin  ...  \
0      Remote     Senior       2000  ...

                                       company.about      company.industry  \
0  Experts in web technologies, mobile technologi...  Software Development

  company.companySize company.city.id company.city.name  \
0               11-50         2761369            Vienna

  company.city.subCountry  company.city.countryCode  company.city.countryName  \
0                  Vienna                        AT                   Austria

  company.companySizeIndex  company.subscription
0                        2                  None

[1 rows x 49 columns]
2  This is json Upload-Resume/applicant.json
================================
     id  jobId  userId                          email phoneCountryCode  \
0   104      1     124          Jenifer72@hotmail.com               43
1   103      1     183             Karlee99@yahoo.com               43
2   102      1      71    Matilda_Dibbert89@gmail.com               43
3   101      1     188       Beau.Carroll@hotmail.com               43
4   100      1     149                Lon69@gmail.com               43
5    99      1      61     Trudie.Swift11@hotmail.com               43
6    98      1     107          Eulalia15@hotmail.com               43
7    97      1     144  Francisca.Hackett57@yahoo.com               43
8    96      1       9                emma@domain.com               43
9    95      1     115     Johnpaul.Pfeffer@gmail.com               43
10   94      1     151      Damaris.Kuhic24@gmail.com               43
11   93      1     180              Jalyn98@yahoo.com               43
12   92      1     111     Carmella.Nicolas@yahoo.com               43
13   91      1      85       Colin_Hudson53@yahoo.com               43
14   90      1     143      Krystal.Frami@hotmail.com               43
15   89      1     130    Orval.Schmitt78@hotmail.com               43
16   88      1     142           Elias.Dach@gmail.com               43
17   87      1       6               lucas@domain.com               43
18   86      1     199        Lia_Fahey94@hotmail.com               43
19   11      1       7                 ava@domain.com               43
20   10      1      12           charlotte@domain.com               43
21    9      1      13              oliver@domain.com               43
22    8      1       9                emma@domain.com               43
23    7      1      11              olivia@domain.com               43
24    6      1       6               lucas@domain.com               43
25    5      1       4             william@domain.com               43
26    4      1       3              amelia@domain.com               43
27    3      1      10            benjamin@domain.com               43
28    2      1      14              elijah@domain.com               43
29    1      1       8               james@domain.com               43

              phoneNumber                                    qa  \
0            252.215.3962  [{'answer': 'Yes', 'questionId': 1}]
1          (336) 479-1867   [{'answer': 'No', 'questionId': 1}]
2     1-685-232-1937 x719   [{'answer': 'No', 'questionId': 1}]
3            805.899.6584  [{'answer': 'Yes', 'questionId': 1}]
4    (399) 976-6466 x3370   [{'answer': 'No', 'questionId': 1}]
5   (743) 667-5994 x94031   [{'answer': 'No', 'questionId': 1}]
6   1-268-372-2435 x93169   [{'answer': 'No', 'questionId': 1}]
7            659.272.2293  [{'answer': 'Yes', 'questionId': 1}]
8       847.816.8787 x115   [{'answer': 'No', 'questionId': 1}]
9   1-214-214-4417 x43789   [{'answer': 'No', 'questionId': 1}]
10         (722) 991-5339  [{'answer': 'Yes', 'questionId': 1}]
11           463-898-2118   [{'answer': 'No', 'questionId': 1}]
12  1-351-386-8916 x13807  [{'answer': 'Yes', 'questionId': 1}]
13   (754) 359-3643 x5279  [{'answer': 'Yes', 'questionId': 1}]
14         1-838-611-4701  [{'answer': 'Yes', 'questionId': 1}]
15     549-849-2776 x7851  [{'answer': 'Yes', 'questionId': 1}]
16   1-231-383-2479 x9013  [{'answer': 'Yes', 'questionId': 1}]
17           802-607-0286   [{'answer': 'No', 'questionId': 1}]
18         1-383-409-1663  [{'answer': 'Yes', 'questionId': 1}]
19             1234042304   [{'answer': 'No', 'questionId': 1}]
20             1233136594   [{'answer': 'No', 'questionId': 1}]
21             1234040498  [{'answer': 'Yes', 'questionId': 1}]
22             1236960755   [{'answer': 'No', 'questionId': 1}]
23             1231038441   [{'answer': 'No', 'questionId': 1}]
24             1235141822   [{'answer': 'No', 'questionId': 1}]
25             1235417847  [{'answer': 'Yes', 'questionId': 1}]
26             1231000557  [{'answer': 'Yes', 'questionId': 1}]
27             1239500535   [{'answer': 'No', 'questionId': 1}]
28             1233059064   [{'answer': 'No', 'questionId': 1}]
29             1236233652   [{'answer': 'No', 'questionId': 1}]

                        createdAt                      updatedAt  rank  ...  \
0   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
1   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
2   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
3   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
4   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
5   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
6   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
7   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
8   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
9   2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
10  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
11  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
12  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
13  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
14  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
15  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
16  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
17  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
18  2022-10-01T23:30:04.000+02:00  2022-10-01T23:30:04.000+02:00  None  ...
19  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
20  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
21  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
22  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
23  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
24  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
25  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
26  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
27  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
28  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...
29  2022-10-01T23:28:27.000+02:00  2022-10-01T23:28:27.000+02:00  None  ...

                            job.tags job.salaryStr  job.assessmentId  \
0   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
1   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
2   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
3   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
4   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
5   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
6   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
7   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
8   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
9   [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
10  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
11  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
12  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
13  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
14  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
15  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
16  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
17  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
18  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
19  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
20  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
21  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
22  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
23  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
24  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
25  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
26  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
27  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
28  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None
29  [Full-time, On-site, Mid-Senior]     ~3300€/mo              None

    job.$extras.savedBy_count job.$extras.applicants_count  \
0                          13                           30
1                          13                           30
2                          13                           30
3                          13                           30
4                          13                           30
5                          13                           30
6                          13                           30
7                          13                           30
8                          13                           30
9                          13                           30
10                         13                           30
11                         13                           30
12                         13                           30
13                         13                           30
14                         13                           30
15                         13                           30
16                         13                           30
17                         13                           30
18                         13                           30
19                         13                           30
20                         13                           30
21                         13                           30
22                         13                           30
23                         13                           30
24                         13                           30
25                         13                           30
26                         13                           30
27                         13                           30
28                         13                           30
29                         13                           30

   job.$extras.assessments_count job.sectionId job.roleId  \
0                              1             1         37
1                              1             1         37
2                              1             1         37
3                              1             1         37
4                              1             1         37
5                              1             1         37
6                              1             1         37
7                              1             1         37
8                              1             1         37
9                              1             1         37
10                             1             1         37
11                             1             1         37
12                             1             1         37
13                             1             1         37
14                             1             1         37
15                             1             1         37
16                             1             1         37
17                             1             1         37
18                             1             1         37
19                             1             1         37
20                             1             1         37
21                             1             1         37
22                             1             1         37
23                             1             1         37
24                             1             1         37
25                             1             1         37
26                             1             1         37
27                             1             1         37
28                             1             1         37
29                             1             1         37

                job.roleStr          job.sectionStr
0   Computer data scientist  Information Technology
1   Computer data scientist  Information Technology
2   Computer data scientist  Information Technology
3   Computer data scientist  Information Technology
4   Computer data scientist  Information Technology
5   Computer data scientist  Information Technology
6   Computer data scientist  Information Technology
7   Computer data scientist  Information Technology
8   Computer data scientist  Information Technology
9   Computer data scientist  Information Technology
10  Computer data scientist  Information Technology
11  Computer data scientist  Information Technology
12  Computer data scientist  Information Technology
13  Computer data scientist  Information Technology
14  Computer data scientist  Information Technology
15  Computer data scientist  Information Technology
16  Computer data scientist  Information Technology
17  Computer data scientist  Information Technology
18  Computer data scientist  Information Technology
19  Computer data scientist  Information Technology
20  Computer data scientist  Information Technology
21  Computer data scientist  Information Technology
22  Computer data scientist  Information Technology
23  Computer data scientist  Information Technology
24  Computer data scientist  Information Technology
25  Computer data scientist  Information Technology
26  Computer data scientist  Information Technology
27  Computer data scientist  Information Technology
28  Computer data scientist  Information Technology
29  Computer data scientist  Information Technology

[30 rows x 98 columns]
===================

['json_data.json', 'Upload-JD/job.json', 'Upload-Resume/applicant.json']

In [3]:
with open("Upload-Resume/applicant.json") as json_data:
    data = json.load(json_data)
df = pd.json_normalize(data)

In [14]:
data[0]

{'id': 104,
 'jobId': 1,
 'userId': 124,
 'email': 'Jenifer72@hotmail.com',
 'phoneCountryCode': '43',
 'phoneNumber': '252.215.3962',
 'qa': [{'answer': 'Yes', 'questionId': 1}],
 'createdAt': '2022-10-01T23:30:04.000+02:00',
 'updatedAt': '2022-10-01T23:30:04.000+02:00',
 'rank': None,
 'user': {'id': 124,
  'email': 'Jenifer72@hotmail.com',
  'username': 'Samantha27',
  'firstName': 'Samantha',
  'lastName': 'Kuhn',
  'avatarUrl': 'https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/104.jpg',
  'headline': 'International Group Manager @ Lang, Schowalter and MacGyver',
  'profileBio': 'Et beatae tempora blanditiis quia voluptatum et aspernatur earum optio. Labore autem tempora nesciunt vitae velit provident quam quas ipsam. Perspiciatis et dolorem et rerum et non facere ad sint. Id enim voluptatibus eum commodi ad quibusdam atque dolores.',
  'website': 'https://impressionable-myth.name',
  'isVerifiedByEmail': False,
  'loginVia': None,
  'userType': 0,
  'jobSeekingType': 0,
  'skills': [{'id': 9, 'title': 'Angular JS'},
   {'id': 77, 'title': 'Analytical skills'},
   {'id': 209, 'title': 'UI Toolkits and Frameworks'},
   {'id': 320, 'title': 'Budgeting'}],
  'interests': [{'id': 3,
    'title': 'Resume Tips',
    'imageUrl': 'http://185.110.191.137:3333/drive/assets/topics/Resume-Tips.jpg'},
   {'id': 11,
    'title': 'Accountant',
    'imageUrl': 'http://185.110.191.137:3333/drive/assets/topics/Accountant.jpg'},
   {'id': 18,
    'title': 'Programming',
    'imageUrl': 'http://185.110.191.137:3333/drive/assets/topics/Programming.jpg'}],
  'experiences': [{'id': 316,
    'title': 'Investor Tactics Liaison',
    'companyName': 'Bartoletti - Larkin',
    'location': 'West Sacramento, AL',
    'startAt': '2012-03-03',
    'endAt': None,
    'headline': None,
    'description': 'Qui et eveniet recusandae quis magni sint ullam. Suscipit blanditiis vel sit quisquam distinctio ad et quam. Hic magnam voluptatibus id veritatis et ut assumenda. Sint inventore totam autem exercitationem ratione. Ut iste reprehenderit. Velit excepturi dolores sed.\nEum quia sit pariatur dolor quo ullam id cupiditate. Quia repellat ex aperiam earum ut voluptas commodi. Id aut sunt unde. Natus incidunt quam magnam necessitatibus. Iure impedit consectetur ut illo.',
    'employmentType': 2,
    'employmentTypeStr': 'Part-time',
    'fromToStr': 'Mar 2012 - Present'},
   {'id': 317,
    'title': 'Internal Creative Producer',
    'companyName': 'Gislason, Raynor and Veum',
    'location': 'Blue Springs, MS',
    'startAt': '2012-02-08',
    'endAt': None,
    'headline': None,
    'description': 'Magnam unde sit rerum aliquam. Aliquid vitae qui eius accusamus officia vero deserunt nemo. Quia dolorem distinctio expedita dolores quis. Sunt quasi enim. Eos quia corporis est recusandae omnis et et amet laborum.\nQuae repellat molestiae enim. Et sed doloremque ut nulla quis. Dolor asperiores soluta dolor. Hic voluptate enim aut quibusdam temporibus eaque rerum quos eligendi.\nEum soluta maiores. Itaque voluptas id. Dicta voluptatem autem. Quisquam incidunt ut delectus et totam officiis.',
    'employmentType': 2,
    'employmentTypeStr': 'Part-time',
    'fromToStr': 'Feb 2012 - Present'},
   {'id': 318,
    'title': 'Direct Optimization Associate',
    'companyName': 'Nader, Huel and Rath',
    'location': 'Meridian, MD',
    'startAt': '2012-10-08',
    'endAt': '2013-12-08',
    'headline': None,
    'description': 'Qui vel eum provident commodi quas esse non id molestias. Dolore dignissimos ducimus culpa et consequatur. Ad quod dolorum enim. Accusantium rem dolor provident reiciendis est occaecati repudiandae sit est. Quidem quia suscipit ex voluptas rerum et ratione fuga sapiente.',
    'employmentType': 2,
    'employmentTypeStr': 'Part-time',
    'fromToStr': 'Oct 2012 - Dec 2013'},
   {'id': 319,
    'title': 'International Brand Engineer',
    'companyName': 'Baumbach, Tillman and Trantow',
    'location': 'Baldwin Park, NY',
    'startAt': '2012-07-14',
    'endAt': None,
    'headline': None,
    'description': 'Aperiam aliquam perferendis sapiente. Nulla dolorum delectus aliquid ex aliquam deserunt nemo qui. Id dolor corrupti autem. Quod voluptate harum omnis sed ut.\nPerspiciatis illum odio sit earum quaerat qui quia fuga. Maiores quis nihil sit natus aliquam a. Voluptatum et quam nesciunt architecto repellendus consequuntur. Ratione laboriosam mollitia tenetur aspernatur aut. Adipisci voluptatem dolores tenetur natus nostrum dolor et officia quos. Repudiandae aut repellendus.',
    'employmentType': 1,
    'employmentTypeStr': 'Full-time',
    'fromToStr': 'Jul 2012 - Present'},
   {'id': 320,
    'title': 'District Intranet Producer',
    'companyName': 'Nicolas Inc',
    'location': 'Santa Monica, NM',
    'startAt': '2012-09-23',
    'endAt': '2014-09-23',
    'headline': None,
    'description': 'Laboriosam dolorem perferendis dolor quo. Occaecati et neque aspernatur. Non iure ea error.\nEst ullam deleniti et atque nesciunt. Laudantium ut nesciunt repellendus rerum suscipit voluptates. At ut modi sit suscipit id sint consequatur facilis voluptatibus. Suscipit sunt maiores aut similique nam vitae ea et voluptate. Sed aliquam voluptates et aliquid dolore.',
    'employmentType': 1,
    'employmentTypeStr': 'Full-time',
    'fromToStr': 'Sep 2012 - Sep 2014'}],
  'educations': [{'id': 196,
    'school': 'University of Sussex',
    'degree': "Bachelor's",
    'field': 'Software Engineering',
    'startYear': 2008,
    'endYear': 2012},
   {'id': 197,
    'school': 'University of Sussex',
    'degree': 'Master',
    'field': 'Computer Science',
    'startYear': 2010,
    'endYear': 2013}],
  'languages': [{'id': 199,
    'name': 'English',
    'level': 2,
    'levelStr': 'Intermediate'},
   {'id': 200, 'name': 'German', 'level': 4, 'levelStr': 'Native'},
   {'id': 201, 'name': 'French', 'level': 1, 'levelStr': 'Beginner'}],
  'fullName': 'Samantha Kuhn',
  'profileCompleted': False,
  'following': False,
  'blocked': False,
  'restricted': False,
  'subscription': None,
  'totalExpInYears': 10,
  '$extras': {'skills_count': 4,
   'interests_count': 3,
   'followers_count': 103,
   'posts_count': 0}},
 'job': {'id': 1,
  'title': 'Mobile App Developer',
  'description': 'We are urgently looking for a Senior Application Developer (m/f) in the .Net area. This is a REMOTE direct hire for one of our clients based in San Antonio, TX.',
  'responsibilities': 'Building systems as an interface to customers.\nAutomate processes to improve efficiency.\nDevelopment of tools to eliminate repetitive tasks.\nParticipation in self-organized teams working towards a common goal.\nResponds to issues as they arise and works with the Systems Assurance Group to improve monitoring.\nWorks with business partners to understand requirements and goals.\nCreates wireframes and mockups for proposed designs.\nConducts peer reviews to ensure development and security standards are enforced.\nLeads and supervises the younger and middle developers in the team.\nCompletes all other tasks assigned to him.',
  'requirements': "Bachelor's degree from an accredited college or four-year university or equivalent experience required.\nA minimum of five (5) years of experience required, including demonstrated knowledge of OOP and SOLID principles and design patterns; in-depth knowledge of C#, HTML, JavaScript, XML and JSON; Creation and maintenance of relational data models and databases; Troubleshooting advanced SQL performance issues and writing/setting advanced SQL queries.\nC# skills and good knowledge of various programming languages \u200b\u200bincluding Java, ASP.NET, JavaScript/JQuery, TSQL, HTML/CSS, etc.\nKnowledge of relational data models.\nKnowledge of agile principles with experience in Scrum or Kanban.\nKnowledge of team development tools and supply control i.e. Visual Studio, TFS, CVS, JIRA, GIT etc.\nKnowledge of one or more JavaScript frameworks including Angular, Angular2, Vue.js, Knockout, React, Polymer, etc.\nDemonstrated willingness and ability to adapt and learn new technologies/procedures.\nGood knowledge of Microsoft Office, including Outlook, Word and Excel.\nExcellent verbal and written communication skills.\nEfficient presentation and clear communication of software and technical concepts to the development team.\nAbility to participate in operational support and on-call duty.\nAbility to keep up to date with the latest testing methods and technologies to produce high quality software.\nAbility to create and maintain databases, including SQL Server or Oracle databases.\nAbility to assist with advanced SQL performance issues and write/tune advanced SQL queries.\nAbility to recognize and apply OOP and SOLID principles and design patterns.\n\n\nQualifications:\nExperience Level: Experienced\nAt least 5 years experience\nEducation: Bachelor's degree\n \n\nKnowledge:\nC#\nHTML\nJavascript\nOOP\n.NET\nSQL Queries\ndesign pattern\n\n\nExciting growth opportunities. Join Parsition now!",
  'benefits': None,
  'employment': 'Full-time',
  'environment': 'On-site',
  'experience': 'Mid-Senior',
  'salaryMin': 2600,
  'salaryMax': 3300,
  'salaryCurrency': 'EUR',
  'statusIndex': 2,
  'applyDeadline': '2022-11-30T01:00:00.000+01:00',
  'createdAt': '2022-10-01T23:28:27.000+02:00',
  'updatedAt': '2022-10-01T23:28:27.000+02:00',
  'cityId': 2761369,
  'companyId': 1,
  'company': {'id': 1,
   'name': 'Parsition GmbH',
   'logoUrl': 'https://media-exp1.licdn.com/dms/image/C4E0BAQGEBAp6eOJUWg/company-logo_200_200/0/1634548998041?e=1669248000&v=beta&t=Qf3roc88SteBraewo4lHFCtwtTWeE2EE4SEShk-mW1w',
   'coverUrl': 'https://media-exp1.licdn.com/dms/image/C4E1BAQHb21u0VMZimA/company-background_10000/0/1634548838202?e=1661878800&v=beta&t=ezC25aGYNxw5-qt0ffwNkfLshvjSzqkR7NMYqzA8ZEM',
   'countryCode': 'AT',
   'cityId': 2761369,
   'about': "Experts in web technologies, mobile technologies and digital marketing, we offer end-to-end solutions so you don't have to hire multiple companies to make your project happen.",
   'industry': 'Software Development',
   'companySize': '11-50',
   'city': {'id': 2761369,
    'name': 'Vienna',
    'subCountry': 'Vienna',
    'countryCode': 'AT',
    'countryName': 'Austria'},
   'companySizeIndex': 2,
   'subscription': None},
  'roles': [{'id': 37, 'title': 'Computer data scientist'},
   {'id': 118, 'title': 'Network administrator'},
   {'id': 163, 'title': 'Technology manager'},
   {'id': 169, 'title': 'UX/UI researcher'}],
  'city': {'id': 2761369,
   'name': 'Vienna',
   'subCountry': 'Vienna',
   'countryCode': 'AT',
   'countryName': 'Austria'},
  'status': 'InProgress',
  'employmentKey': 1,
  'environmentKey': 1,
  'experienceKey': 3,
  'isSaved': False,
  'applied': False,
  'tags': ['Full-time', 'On-site', 'Mid-Senior'],
  'salaryStr': '~3300€/mo',
  'assessmentId': None,
  '$extras': {'savedBy_count': 13,
   'applicants_count': 30,
   'assessments_count': 1},
  'sectionId': 1,
  'roleId': 37,
  'roleStr': 'Computer data scientist',
  'sectionStr': 'Information Technology'},
 'assessmentSession': None,
 'assessmentScore': None,
 'top': False}

In [13]:
for applicant in data:
    print(applicant['user']['id'])

124
183
71
188
149
61
107
144
9
115
151
180
111
85
143
130
142
6
199
7
12
13
9
11
6
4
3
10
14
8

In [ ]:
df.columns

Index(['id', 'jobId', 'userId', 'email', 'phoneCountryCode', 'phoneNumber',
       'qa', 'createdAt', 'updatedAt', 'assessmentScore', 'user.id',
       'user.email', 'user.username', 'user.firstName', 'user.lastName',
       'user.avatarUrl', 'user.headline', 'user.profileBio', 'user.website',
       'user.isVerifiedByEmail', 'user.loginVia', 'user.userType',
       'user.jobSeekingType', 'user.interests', 'user.languages',
       'user.skills', 'user.educations', 'user.experiences', 'user.fullName',
       'user.$extras.skills_count', 'user.$extras.interests_count',
       'user.$extras.followers_count', 'user.$extras.posts_count'],
      dtype='object')

In [ ]:
", ".join([x['title'] for x in df.loc[0]['user.skills']])

'Financial Statement Analysis, Information Retrieval Data Sets, Grand Central Dispatch (GCD), Oracle, Active Learning'

In [ ]:
data['user']['experiences']

[{'id': 577,
  'title': 'National Mobility Manager',
  'companyName': 'Anderson - Heaney',
  'location': 'Plainfield, AL',
  'startAt': '2012-04-14',
  'endAt': '2012-12-14',
  'headline': None,
  'description': 'Cumque totam tenetur. Vero neque in aspernatur alias perferendis qui corrupti. Saepe totam accusamus aliquid est impedit ipsam quos autem fugiat. Dolores omnis maxime.',
  'employmentType': 1,
  'employmentTypeStr': 'Full-time',
  'fromToStr': 'Apr 2012 - Dec 2012'}]

In [ ]:
data['user']['experiences'][0]['startAt']

'2012-04-14'

In [ ]:
datetime.strptime(data['user']['experiences'][0]['startAt'], "%Y-%m-%d")

datetime.datetime(2012, 4, 14, 0, 0)

In [ ]:
json.dumps(df.loc[0]['user.skills'])

'[{"id": 491, "title": "Financial Statement Analysis"}, {"id": 162, "title": "Information Retrieval Data Sets"}, {"id": 103, "title": "Grand Central Dispatch (GCD)"}, {"id": 507, "title": "Oracle"}, {"id": 240, "title": "Active Learning"}]'

In [ ]:
df.loc[0]['user.languages']

[{'name': 'English', 'level': 1, 'levelStr': 'Beginner'},
 {'name': 'German', 'level': 3, 'levelStr': 'Advanced'},
 {'name': 'French', 'level': 3, 'levelStr': 'Advanced'}]

In [ ]:
df.loc[0]['user.experiences']

[{'id': 577,
  'title': 'National Mobility Manager',
  'companyName': 'Anderson - Heaney',
  'location': 'Plainfield, AL',
  'startAt': '2012-04-14',
  'endAt': '2012-12-14',
  'headline': None,
  'description': 'Cumque totam tenetur. Vero neque in aspernatur alias perferendis qui corrupti. Saepe totam accusamus aliquid est impedit ipsam quos autem fugiat. Dolores omnis maxime.',
  'employmentType': 1,
  'employmentTypeStr': 'Full-time',
  'fromToStr': 'Apr 2012 - Dec 2012'}]

In [ ]:
df.loc[0]['user.educations']

[{'id': 378,
  'school': 'Texas A&M University',
  'degree': "Bachelor's",
  'field': 'Computer Science',
  'startYear': 2008,
  'endYear': 2012},
 {'id': 379,
  'school': 'University Of Groningen',
  'degree': 'Master',
  'field': 'Physics',
  'startYear': 2011,
  'endYear': 2014}]