In [2]:
import pandas as pd
import json

In [4]:
with open("Upload-JD/job.json") as json_data:
    data = json.load(json_data)
df = pd.json_normalize(data)

In [7]:
df.columns

Index(['id', 'title', 'description', 'responsibilities', 'requirements',
       'benefits', 'employment', 'environment', 'experience', 'salaryMin',
       'salaryMax', 'salaryCurrency', 'status', 'applyDeadline', 'createdAt',
       'updatedAt', 'cityId', 'companyId', 'roles', 'employmentKey',
       'environmentKey', 'experienceKey', 'tags', 'salaryStr', 'sectionId',
       'roleId', 'roleStr', 'sectionStr', 'city.id', 'city.name',
       'city.subCountry', 'city.countryCode', 'city.countryName', 'company.id',
       'company.name', 'company.logoUrl', 'company.coverUrl',
       'company.countryCode', 'company.cityId', 'company.about',
       'company.industry', 'company.companySize', 'company.city.id',
       'company.city.name', 'company.city.subCountry',
       'company.city.countryCode', 'company.city.countryName',
       'company.companySizeIndex', 'company.subscription'],
      dtype='object')

In [8]:
df

,id,title,description,responsibilities,requirements,benefits,employment,environment,experience,salaryMin,...,company.about,company.industry,company.companySize,company.city.id,company.city.name,company.city.subCountry,company.city.countryCode,company.city.countryName,company.companySizeIndex,company.subscription
0,2,Senior Mobile App Developer - iOS,We believe our customers deserve a great exper...,As a Senior Mobile App Developer-iOS at Parsit...,You have solid commercial experience in native...,None,Full-time,Remote,Senior,2000,...,"Experts in web technologies, mobile technologi...",Software Development,11-50,2761369,Vienna,Vienna,AT,Austria,2,None

In [9]:
data['requirements']

'You have solid commercial experience in native app development at senior level using Swift or Java/Kotlin. You are an advocate of contemporary application development practices, continuous integration and delivery. You have a strong sense of quality and think architecturally when designing solutions so that they are adaptable and maintainable.\n\nYou are a great team player and communicator with a passion for user experience, technology and mobile applications. You will be able to provide technical leadership to other software developers and work in a collaborative, cross-functional, agile environment.\n\nThey love getting things done, especially shipping software!\n\n\nExciting growth opportunities. Join Parsition now!'

In [ ]:
import glob
import os
LIST_OF_FILES = []
LIST_OF_FILES_JSON = []
for file in glob.glob('**/*.json', recursive=True):
    LIST_OF_FILES_JSON.append(file)
LIST_OF_FILES = LIST_OF_FILES_JSON
Jresumes = []
Ordered_list_Resume = []
for count,i in enumerate(LIST_OF_FILES):
    Temp = i.rsplit('.', 1)
    if Temp[1] == "json" :
            print(count," This is json" , i)
            try:
                with open(i) as json_data:
                    data = json.load(json_data)
                df = pd.json_normalize(data)
                print("================================")
                print(df)
                Jresumes.append(df)
                Ordered_list_Resume.append(i)
            except Exception as e: print(e)     
print("===================")
LIST_OF_FILES_JSON

0  This is json Upload-Resume/android (1).json
================================
         PhoneNo                    Email  \
0  +989126086227  hajhosseinico@gmail.com

                                                Work       string  \
0  [{'company': 'ComOn', 'position': 'Product Man...  Hello World

                                              skills         languages
0  [Kotlin,, Java,, Dagger, 2,, Coroutines,, Retr...  [English, Farsi]
1  This is json Upload-Resume/android.json
================================
  PhoneNo                   Email  \
0          goudarzi1212@gmail.com

                                                Work       string  \
0  [{'company': 'Pardazesh Negar Rashin', 'positi...  Hello World

                                              skills         languages
0  [Android, Kotlin, Flutter, Android Development...  [English, Farsi]
===================

['Upload-Resume/android (1).json', 'Upload-Resume/android.json']

In [ ]:
with open("Upload-JD/job.json") as json_data:
    data = json.load(json_data)
df = pd.json_normalize(data)

In [ ]:
data

NameError: name 'data' is not defined

In [ ]:
df.columns

Index(['id', 'title', 'description', 'responsibilities', 'requirements',
       'benefits', 'employment', 'environment', 'experience', 'salaryMin',
       'salaryMax', 'salaryCurrency', 'status', 'applyDeadline', 'createdAt',
       'updatedAt', 'cityId', 'companyId', 'roles', 'employmentKey',
       'environmentKey', 'experienceKey', 'tags', 'salaryStr', 'sectionId',
       'roleId', 'roleStr', 'sectionStr', 'city.id', 'city.name',
       'city.subCountry', 'city.countryCode', 'city.countryName', 'company.id',
       'company.name', 'company.logoUrl', 'company.coverUrl',
       'company.countryCode', 'company.cityId', 'company.about',
       'company.industry', 'company.companySize', 'company.city.id',
       'company.city.name', 'company.city.subCountry',
       'company.city.countryCode', 'company.city.countryName',
       'company.companySizeIndex', 'company.subscription'],
      dtype='object')

In [ ]:
df.loc[0]['user.skills']

[{'id': 491, 'title': 'Financial Statement Analysis'},
 {'id': 162, 'title': 'Information Retrieval Data Sets'},
 {'id': 103, 'title': 'Grand Central Dispatch (GCD)'},
 {'id': 507, 'title': 'Oracle'},
 {'id': 240, 'title': 'Active Learning'}]

In [ ]:
df.loc[0]['user.languages']

[{'name': 'English', 'level': 1, 'levelStr': 'Beginner'},
 {'name': 'German', 'level': 3, 'levelStr': 'Advanced'},
 {'name': 'French', 'level': 3, 'levelStr': 'Advanced'}]